.parallax-bg{
    background-position: center center;
    transform: translateZ(-0.5px) scale(2);
    background-size: cover;
    z-index: -1;
    height: 50vh;
  }

  .parallax-content{
    z-index: -1;
    transform: translateY(-25vh) translateZ(0px) scale(1);
    padding-left:30px;
    padding-right:30px;
    text-align:center;
  }

